:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-title-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --product-button-color: #f5f4fa;
  --hero-footer-background: #2f303a;
  --main-background-color: #ffffff;
  --header-border-color: #ececec;
  --workers-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --main-button-hover: #188ce8;
  --products-cards-border-color: #eeeeee;
  --background-hero-gradient: rgba(47, 48, 58, 0.4);
  --social-media-icons: #afb1b8;
  --footer-mail-border: rgba(255, 255, 255, 0.3);
  --social-media-footer-background: rgba(100%, 100%, 100%, 10%);
  --hover-filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --hover-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --comment-area-text: rgba(117, 117, 117, 0.5);
  --examples-thumb-background: rgba(47, 48, 58, 0.8);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@-webkit-keyframes addLine {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes addLine {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.button--submit, .button--subscribe, .hero-button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: initial;
  color: var(--white-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--main-animation);
}
.button--submit:hover, .button--subscribe:hover, .hero-button:hover, .button--submit:focus, .button--subscribe:focus, .hero-button:focus {
  background-color: var(--main-button-hover);
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo__text {
  color: var(--logo-color);
}
.logo__text--revers {
  color: var(--white-title-color);
}

.page-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-border-color);
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header {
    position: static;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
  }
}

.page-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__menu.flex-transform {
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .page-header__menu {
    display: block;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon-cross {
  display: none;
}
.menu-button.is-open .menu-button__icon-cross {
  display: block;
}
.menu-button.is-open:hover .menu-button__icon-cross, .menu-button.is-open:focus .menu-button__icon-cross {
  fill: var(--accent-color);
}

.menu-button__icon-menu {
  fill: currentColor;
}
.menu-button:hover .menu-button__icon-menu, .menu-button:focus .menu-button__icon-menu {
  fill: var(--accent-color);
}
.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.page-header__content {
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  background-color: var(--main-background-color);
  transition: opacity 250ms var(--main-animation);
}
.page-header__content.is-open {
  opacity: 1;
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  .page-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    pointer-events: all;
    opacity: 1;
    width: 100%;
    height: auto;
    padding: 0;
    margin-left: 88px;
    overflow-y: inherit;
  }
}
@media screen and (min-width: 768px) {
  .page-header__content {
    margin-left: 93px;
  }
}

.page-header__navigation {
  margin-bottom: 302px;
}
@media screen and (min-width: 768px) {
  .page-header__navigation {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
.site-nav__item--last {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-bottom: 0;
    margin-left: 50px;
  }
  .site-nav__item--first {
    margin-left: 0;
  }
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--main-animation);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .site-nav__link--current {
    position: relative;
  }
  .site-nav__link--current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    -webkit-animation: addLine 250ms var(--main-animation);
            animation: addLine 250ms var(--main-animation);
    border-radius: 2px;
  }
}

.auth-list {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .auth-list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.auth-list__item--last {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .auth-list__item--last {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list__item {
    margin-top: 0;
  }
  .auth-list__item--last {
    margin-left: 30px;
  }
}

.auth-list__link {
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  transition: color 250ms var(--main-animation);
}
.auth-list__link--middle-tel {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}
.auth-list__link--big-email {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 1.16;
}
.auth-list__link:hover, .auth-list__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .auth-list__link {
    display: flex;
    font-size: 12px;
    line-height: 1.16;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .auth-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.page-header__social-media {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .page-header__social-media {
    display: none;
  }
}

.page-header__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.social-media-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.auth-list__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-list__icon {
    display: block;
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list__icon {
    margin-right: 10px;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero {
  background-image: linear-gradient(to right, var(--background-hero-gradient), var(--background-hero-gradient)), url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hero-footer-background);
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .hero__container {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.hero__title {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  .advantages__item {
    width: 450px;
    margin-top: 30px;
  }
  .advantages__item--first {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    margin-top: 0px;
    margin-left: 30px;
    width: 270px;
  }
  .advantages__item--first {
    margin-left: 0;
  }
}

.advantages__icons {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--product-button-color);
}
@media screen and (min-width: 480px) {
  .advantages__icons {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__icons {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icons {
    width: 270px;
  }
}

.advantages__features {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages__features {
    text-align: center;
  }
}

.advantages__description {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

.examples {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}
.examples__list {
  display: flex;
}

.examples__item {
  margin-left: 30px;
}

.examples__item--first {
  margin-left: 0;
}

.examples__thumb {
  position: relative;
}

.examples__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.examples__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  background-color: var(--examples-thumb-background);
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--product-button-color);
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__item {
  background-color: var(--white-title-color);
  box-shadow: var(--workers-card-shadow);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-top: 30px;
  }
  .team__item-first {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-left: 30px;
  }
  .team__item--first {
    margin-left: 0;
  }
}

.team__photo {
  display: block;
}

.team__text {
  padding-top: 30px;
}
@media screen and (min-width: 480px) {
  .team__text {
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team__text {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__text {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__name {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}
@media screen and (min-width: 480px) {
  .social-media {
    width: 206px;
  }
}

.social-media__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.social-media__item--first {
  margin-left: 0;
}

.media-link {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--social-media-icons);
  background-color: inherit;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--main-animation), color 250ms var(--main-animation);
}
.media-link:hover, .media-link:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.media-link__icon {
  display: block;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1199px) {
  .clients__list {
    margin: 0;
    flex-wrap: nowrap;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
    margin: 15px;
    flex-basis: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
  }
  .clients__item--first {
    margin-left: 0;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-media-icons);
  border-radius: 4px;
  color: var(--social-media-icons);
  transition: color 250ms var(--main-animation), border-color 250ms var(--main-animation);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-media-icons);
  border-radius: 4px;
  color: var(--social-media-icons);
  transition: color 250ms var(--main-animation), border-color 250ms var(--main-animation);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--hero-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__thumb {
    margin-bottom: 60px;
  }
}

.company__label {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .auth-list-footer {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .auth-list__item--bottom {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-list__item--bottom {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--footer-link-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms var(--main-animation);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__social-media {
  width: 206px;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .footer__social-media {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-media {
    margin-left: 70px;
  }
}

.footer__media-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.social-media__item--first {
  margin-left: 0;
}

.media-link-footer {
  color: var(--main-background-color);
  background-color: var(--social-media-footer-background);
  transition: background-color 250ms var(--main-animation);
}
.media-link-footer:hover, .media-link-footer:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .mailing-list {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: auto;
  }
}

.mailing-list__text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}

@media screen and (min-width: 1200px) {
  .mailing-list__form {
    display: flex;
  }
}

.mailing-list__mail {
  height: 50px;
  padding: 15px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--footer-mail-border);
  background-color: transparent;
  color: var(--white-title-color);
  transition: border-color 250ms var(--main-animation);
}
@media screen and (max-width: 1199px) {
  .mailing-list__mail {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list__mail {
    min-width: 358px;
  }
}
.mailing-list__mail:focus {
  border-color: var(--accent-color);
}
.mailing-list__mail::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-link-color);
}
.mailing-list__mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-link-color);
}
.mailing-list__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-link-color);
}

.button--subscribe {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px 30px;
}
@media screen and (max-width: 1199px) {
  .button--subscribe {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .button--subscribe {
    margin-left: 10px;
  }
}

.mailing-list__icon {
  fill: currentColor;
  margin-left: 10px;
}

.portfolio-products {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-products {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-right: -8px;
  margin-top: -15px;
}
@media screen and (min-width: 1200px) {
  .products-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.products-list__item {
  margin-right: 8px;
  margin-top: 15px;
}

.product-list__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--product-button-color);
  border: initial;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: background-color 250ms var(--main-animation), color 250ms var(--main-animation), box-shadow 250ms var(--main-animation);
}
.product-list__button--current {
  color: var(--white-title-color);
  background-color: var(--accent-color);
}
.product-list__button:hover, .product-list__button:focus {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  box-shadow: var(--hover-filter-shadow);
}

@media screen and (min-width: 768px) {
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.product-cards__item {
  margin-bottom: 30px;
}
.product-cards__item--last {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .product-cards__item {
    max-width: 354px;
    margin-bottom: 0;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .product-cards__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms var(--main-animation);
}
.card-link:hover, .card-link:focus {
  box-shadow: var(--hover-card-shadow);
}

.product-cards__thumb {
  position: relative;
  max-width: 370px;
  min-height: 294px;
  overflow: hidden;
}

.product-cards__img {
  display: block;
}

.product-cards__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover .product-cards__overlay, .card-link:focus .product-cards__overlay {
  transform: translateY(0);
}

.overlay__description {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  margin: 0;
  color: var(--main-background-color);
  font-size: 18px;
  line-height: 1.55;
}
@media screen and (min-width: 1200px) {
  .overlay__description {
    padding: 63px 24px;
  }
}

.product-cards__text-thumb {
  padding: 20px 24px;
  border-left: 1px solid var(--products-cards-border-color);
  border-right: 1px solid var(--products-cards-border-color);
  border-bottom: 1px solid var(--products-cards-border-color);
  flex-grow: 1;
}

.product-cards__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-cards__description {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--main-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  padding: 40px;
  background-color: var(--main-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-animation);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0, 9);
}

.modal-window__close-button {
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  right: 8px;
  fill: var(--logo-color);
}

.modal-window__close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
  transition: fill 250ms var(--main-animation);
}
.modal-window__close-button:hover .modal-window__close-icon, .modal-window__close-button:focus .modal-window__close-icon {
  fill: var(--accent-color);
}

.user-information__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .user-information__title {
    line-height: 1.15;
  }
}

.user-information__item {
  width: 100%;
  margin-bottom: 10px;
}

.user-information__label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.user-information__thumb {
  position: relative;
  width: 100%;
  height: 40px;
}

.user-information__input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--main-animation);
}
.user-information__input:focus {
  border-color: var(--accent-color);
}

.user-information__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms var(--main-animation);
}
.user-information__input:focus + .user-information__icon {
  fill: var(--accent-color);
}

.user-information__item--second-last {
  margin-bottom: 20px;
}

.user-information__comment-area {
  display: block;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--main-animation);
}
.user-information__comment-area:focus {
  border-color: var(--accent-color);
}
.user-information__comment-area::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--comment-area-text);
}
.user-information__comment-area:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--comment-area-text);
}
.user-information__comment-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--comment-area-text);
}

.user-information__item--last {
  margin-bottom: 30px;
  text-align: center;
}

.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .agreement-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement-label__icon {
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  fill: transparent;
  transition: box-shadow 250ms var(--main-animation);
}
.agreement-label__checkbox:focus + .agreement-label__icon {
  border-color: var(--accent-color);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}
.agreement-label__checkbox:checked + .agreement-label__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: var(--white-title-color);
  box-shadow: none;
}

.agreement-conditions {
  color: var(--title-text-color);
  transition: color 250ms var(--main-animation);
}
.agreement-conditions:focus, .agreement-conditions:hover {
  color: var(--accent-color);
}
.agreement-label__checkbox:checked ~ .agreement-conditions {
  color: var(--accent-color);
}

.button--submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}/*# sourceMappingURL=main.css.map */