.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}
.advantages__item {
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-top: 30px;
    &--first {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    @include item(null, null, 30px, 30px, null, 2, 30px);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: 30px;
    width: 270px;
    &--first {
      margin-left: 0;
    }
  }
}
.advantages__icons {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--product-button-color);

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantages__features {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantages__description {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
