.clients {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: flex;

  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1199px) {
    margin: 0;
    flex-wrap: nowrap;
  }
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;

  @media screen and (max-width: 767px) {
    @include item(null, null, null, null, 15px, 2, 30px);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    @include item(null, null, null, null, 15px, 3, 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;

    margin-left: 30px;

    &--first {
      margin-left: 0;
    }
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  border: 1px solid var(--social-media-icons);
  border-radius: 4px;
  color: var(--social-media-icons);

  transition: color 250ms var(--main-animation), border-color 250ms var(--main-animation);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.clients__link {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  border: 1px solid var(--social-media-icons);
  border-radius: 4px;
  color: var(--social-media-icons);

  transition: color 250ms var(--main-animation), border-color 250ms var(--main-animation);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
