.footer {
  background-color: var(--hero-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__thumb {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 60px;
  }
}
.company__label {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  line-height: 1.71;
}
.auth-list-footer {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.auth-list__item--bottom {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer__link {
  color: var(--footer-link-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__social-media {
  width: 206px;
  height: 80px;

  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer__media-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.social-media__item--first {
  margin-left: 0;
}
.media-link-footer {
  @include mediaColor(var(--main-background-color), var(--social-media-footer-background));

  transition: background-color 250ms var(--main-animation);
}
.mailing-list {
  @media screen and (min-width: 767px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.mailing-list__text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.mailing-list__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.mailing-list__mail {
  height: 50px;
  padding: 15px;

  outline: none;
  border-radius: 4px;
  border: 1px solid var(--footer-mail-border);

  background-color: transparent;
  color: var(--white-title-color);

  transition: border-color 250ms var(--main-animation);
  @media screen and (max-width: 1199.98px) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }

  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: var(--footer-link-color);
  }
}
.button--subscribe {
  @extend %button;
  display: flex;
  align-items: center;

  border-radius: 4px;
  padding: 10px 30px;

  @media screen and (max-width: 1199.98px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
.mailing-list__icon {
  fill: currentColor;
  margin-left: 10px;
}
