.hero {
  background-image: linear-gradient(
      to right,
      var(--background-hero-gradient),
      var(--background-hero-gradient)
    ),
    url('../images/hero-background.jpg');
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hero-footer-background);

  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__container {
  width: 696px;
}
.hero__title {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  @extend %button;
}
