.hero {
  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        to right,
        var(--background-hero-gradient),
        var(--background-hero-gradient)
      ),
      url('../images/mobile-hero-bck.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url('../images/mobile-hero-bck@2x.jpg');
    }
  }
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        var(--background-hero-gradient),
        var(--background-hero-gradient)
      ),
      url('../images/tablet-hero-bck.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url('../images/tablet-hero-bck@2x.jpg');
    }
  }
  @media screen and (min-width: 781px) {
    background-image: linear-gradient(
        to right,
        var(--background-hero-gradient),
        var(--background-hero-gradient)
      ),
      url('../images/desktop-hero-bck.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-hero-gradient),
          var(--background-hero-gradient)
        ),
        url('../images/desktop-hero-bck@2x.jpg');
    }
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hero-footer-background);

  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__container {
  padding: 0;
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}
.hero__title {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  @extend %button;
}
