.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--main-animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-window {
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  padding: 40px;

  background-color: var(--main-background-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-animation);
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0, 9);
  }
}

.modal-window__close-button {
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  right: 8px;
  fill: var(--logo-color);
}
.modal-window__close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;

  transition: fill 250ms var(--main-animation);

  .modal-window__close-button:hover &,
  .modal-window__close-button:focus & {
    fill: var(--accent-color);
  }
}
.user-information__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.user-information__item {
  width: 100%;
  margin-bottom: 10px;
}
.user-information__label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}
.user-information__thumb {
  position: relative;
  width: 100%;
  height: 40px;
}
.user-information__input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 42px;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--main-animation);

  &:focus {
    border-color: var(--accent-color);
  }
}
.user-information__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms var(--main-animation);

  .user-information__input:focus + & {
    fill: var(--accent-color);
  }
}
.user-information__item--second-last {
  margin-bottom: 20px;
}
.user-information__comment-area {
  display: block;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--main-animation);

  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: var(--comment-area-text);
  }
}
.user-information__item--last {
  margin-bottom: 30px;
  text-align: center;
}
.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;

    line-height: 1.71;
  }
}
.agreement-label__icon {
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  fill: transparent;
  transition: box-shadow 250ms var(--main-animation);

  .agreement-label__checkbox:focus + & {
    border-color: var(--accent-color);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  }

  .agreement-label__checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    fill: var(--white-title-color);

    box-shadow: none;
  }
}
.agreement-conditions {
  color: var(--title-text-color);
  transition: color 250ms var(--main-animation);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
  .agreement-label__checkbox:checked ~ & {
    color: var(--accent-color);
  }
}
.button--submit {
  @extend %button;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
