.page-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-border-color);
  position: relative;
}
.page-header__container {
  // display: flex;
  // align-items: center;
}
.page-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button__icon-cross {
  display: none;

  .menu-button.is-open & {
    display: block;
  }
}
.menu-button.is-open .menu-button__icon-menu {
  display: none;
}
.page-header__content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--main-background-color);
  &.is-open {
    display: block;
  }
}
.page-header__navigation {
  padding-left: 40px;
  padding-bottom: 48px;
  // margin-left: 93px;
}
.site-nav {
  // display: flex;
}
. .site-nav__item--first {
  // margin-right: 50px;
}
.site-nav__item--last {
  // margin-left: 50px;
}
.site-nav__link {
  // display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;

  // color: var(--title-text-color);
  // font-weight: 500;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  // text-decoration: none;

  transition: color 250ms var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    // position: relative;
    // color: var(--accent-color);
  }
  &--current::after {
    // position: absolute;
    // content: '';
    // bottom: -1px;
    // left: 0;

    // margin: 0;
    // padding: 0;
    // width: 100%;
    // height: 4px;

    // background-color: var(--accent-color);
    // animation: addLine 250ms var(--main-animation);
    // border-radius: 2px;
  }
}
.auth-list {
  // display: flex;
  // margin-left: auto;
}
.auth-list__item {
  &--first {
    //   margin-right: 50px;
    // }
    // &--last {
    //   margin-left: 50px;
  }
}
.auth-list__link {
  // display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.auth-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
