.team {
  background-color: var(--product-button-color);

  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  // display: flex;
}
.team__item {
  background-color: var(--white-title-color);
  box-shadow: var(--workers-card-shadow);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767.98px) {
    margin-top: 30px;
    &-first {
      margin-top: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 354px;
    @include item(null, null, 30px, 30px, null, 2, 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-left: 30px;
    &--first {
      margin-left: 0;
    }
  }
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__text {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__name {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: 480px) {
  }
  // line-height: 1.8;
}
.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}
.social-media__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;

  margin-left: 10px;

  &--first {
    margin-left: 0;
  }
}
.media-link {
  display: flex;
  height: 100%;
  width: 100%;
  @include mediaColor(var(--social-media-icons), inherit);
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--main-animation), color 250ms var(--main-animation);
}

.media-link__icon {
  display: block;
  fill: currentColor;
}
