@mixin mediaColor(
  $color,
  $bckg-color,
  $hoverCol: var(--main-background-color),
  $hoverBckg: var(--accent-color)
) {
  color: $color;
  background-color: $bckg-color;

  &:hover,
  &:focus {
    color: $hoverCol;
    background-color: $hoverBckg;
  }
}

@mixin item($mr, $mb, $ml, $mt, $m, $q, $gap) {
  margin-right: $mr;
  margin-bottom: $mb;
  margin-left: $ml;
  margin-top: $mt;
  margin: $m;
  flex-basis: calc(100% / #{$q} - #{$gap});
}
